h1 {
  <div class="bg-image d-flex justify-content-center align-items-center" style="background-image: url('../../assets/img/Hr.jpg');
  height: 70vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}

h2 {
  background-image: inherit;
  height: 100vh;
  background-size: cover;">;
}

.container {
}

